@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 100px;
}

.sticky {
  background: crimson;
  // padding: 10px 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 999;
  transition: 0.5s ease;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;

    .brand {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
    .navigation {
      position: relative;

      a {
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
        margin-left: 30px;
        transition: 0.5s ease;

        &:hover {
          color: #666;
        }
      }
    }
  }
}

.main {
  position: relative;
  // width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/images/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;

  .content {
    max-width: 800px;

    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 500;

      span {
        font-size: 60px;
        font-weight: 600;
      }
    }

    .animated-text {
      height: 70px;
      overflow: hidden;
      position: relative;
      h3 {
        color: crimson;
        font-size: 52px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: 1px;
      }
    }

    .animated-text h3:nth-child(1) {
      animation: text-move 10s infinite;
    }

    .media-icons a {
      margin-right: 25px;
    }
  }
}

.btn {
  color: #fff;
  background: crimson;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 30px 0;
  transition: 0.5s ease;

  &:hover {
    background: #fff;
    color: #000;
  }
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}

// end navbar styling
// start about styling

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .section-title {
    position: relative;
    color: crimson;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
  }

  .section-title::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: crimson;
    transform: translateX(-50%);
  }

  .section-title::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: crimson;
    transform: translateX(-50%);
  }
}

.about {
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .col-left {
      position: relative;
      width: 45%;
    }

    .col-right {
      position: relative;
      width: 45%;
    }

    .img-card {
      position: relative;
      width: 100%;
      min-height: 450px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .content-title {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 20px;
    }
  }
}

// end styling about section
// start styling skills section

.skills {
  background: #000016;

  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
  }

  .col-left {
    position: relative;
    width: 45%;

    .content-title {
      margin-bottom: 20px;
    }
  }

  .col-right {
    position: relative;
    width: 45%;

    .bar {
      margin-bottom: 15px;
      padding: 10px;

      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        span {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }

  .line {
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
  }

  .line::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
  }

  .html::before {
    width: 95%;
    background: #e45126;
  }
  .css::before {
    width: 85%;
    background: #0c73bb;
  }
  .bootstrap::before {
    width: 80%;
    background: #e3a324;
  }
  .javascript::before {
    width: 70%;
    background: #30dd6d;
  }
  .react::before {
    width: 70%;
    background: #6d7ebb;
  }
}

// end styling skills section
// start styling services section

.services {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;

    .card {
      background: #fff;
      width: 300px;
      margin: 10px;
      padding: 25px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 2px 5px 10px -5px;
      border-radius: 10px;

      .services-icon {
        text-align: center;
        img {
          width: 120px;
          margin-bottom: 20px;
        }
        transition: 0.5s ease;

        &:hover {
          transform: translateY(-10px);
        }
      }

      .info {
        text-align: center;

        h3 {
          color: crimson;
          font-size: 20px;
          font-weight: 700;
          margin: 10px;
        }
      }
    }
  }

  .title {
    p {
      width: 80%;
    }
  }
}

// end styling skills section
// start styling work section

.work {
  background: #000016;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    .card {
      width: 340px;
      margin: 15px;

      .img-card {
        position: relative;
        width: 100%;
        height: 260px;
        border-radius: 10px;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          transition: 0.5s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

// end styling work section
// start styling contact section

.contact {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;

    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;

      .card {
        background: #fff;
        width: 210px;
        margin: 20px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 2px 5px 10px -5px;

        &:hover .contact-icon {
          transform: translateY(-10px);
        }

        .contact-icon {
          transition: 0.5s ease;
          text-align: center;

          img {
            width: 90px;
          }
        }

        .info {
          h3 {
            color: #111;
            font-size: 20px;
            font-weight: 700;
            margin: 10px;
          }

          span {
            color: #666;
            font-weight: 500;
          }
        }
      }
    }

    .contact-form {
      background: #fff;
      max-width: 600px;
      margin-top: 50px;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 2px 5px 10px -5px;

      h3 {
        color: #111;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
      }

      .input-box {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        input,
        textarea {
          color: #111;
          width: 100%;
          padding: 10px;
          font-size: 17px;
          font-weight: 400;
          outline: none;
          border: 1px solid #111;
          border-radius: 5px;
          resize: none;
        }

        .sent-btn {
          color: #fff;
          background: crimson;
          display: inline-block;
          font-size: 19px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
          width: 100%;
          border: none;
          cursor: pointer;
          transition: 0.5s ease;

          &:hover {
            background: #fff;
            color: #000;
            border: 1px #111 solid;
          }
        }
      }
    }
  }
}

// end styling contact
// start styling footer

.footer {
  background: #000016;
  color: #fff;
  text-align: center;
  padding: 34px;

  p {
    font-size: 16px;
    margin-top: 10px;
  }
  .footer-title {
    font-size: 20px;
    font-weight: 600;
  }
}

// end footer styling
// start media

@media (max-width: 1049px) {
  header {
    .navbar {
      padding: 12px 20px;

      .menu-btn {
        position: absolute;
        background: url(/images/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        margin: 0 20px;
        right: 0;
        cursor: pointer;
        transition: 0.4s ease;
      }
      .menu-btn.active {
        z-index: 999;
        background: url(/images/close.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        filter: invert(1);
      }
    }
    .navigation {
      display: none;
    }

    .navigation.active {
      z-index: 888;
      position: fixed;
      background: #fff;
      top: 0;
      right: 0;
      width: 380px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 2px 2px rgba(204, 204, 204, 0.51);
      transition: 0.5s ease;

      a {
        color: #000;
        font-size: 22px;
        margin: 10px;
        padding: 0 20px;
        border-radius: 20px;

        &:hover {
          background: crimson;
          color: #fff;
        }
      }
    }
  }

  section {
    padding: 80px 20px;
  }

  .title {
    .section-title {
      font-size: 36px;
    }
  }

  .main {
    .content {
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 35px;
      }
    }
  }

  .about {
    .content {
      flex-direction: column;

      .column {
        position: relative;
        width: 100%;
      }

      .col-right {
        margin-top: 40px;
      }
    }
  }

  .skills {
    .content {
      flex-direction: column;

      .column {
        position: relative;
        width: 100%;
      }
      .col-right {
        margin-top: 40px;
      }
    }
  }

  .contact-form {
    padding: 35px 40px;
  }
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 0.3s ease;
}

// scroll btn click top
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

// animation windov
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
